* {
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

body {
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    min-width: 350px;
    min-height: 400px;
    padding: 2rem;
    transition: all 0.3s ease;
}

.container button {
    place-items: center;
    place-content: center;
    text-align: center;
}

.container h1 {
    color: black;
    text-align: center;
}

.container h2 {
    color: black;
    margin-left: 8px;
}

button {
    appearance: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 16px 70px;
    font-size: 16px;
    border: solid 2px #7D5EC0;
    margin: 16px 8px;
}

button a {
    list-style: none;
    text-decoration: none;
    color: #7D5EC0;
}

form {
    display: flex;
    flex-direction: column;
}
  
.inputform {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 8px;    
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
}

.inputform:first-child{
    margin-top: 4rem;
}

.inputform input {
    color: rgba(0, 0, 0, 7);
    font-size: 0.9rem;
    outline: none;
}
  
.underline {
    background: rgba(0, 0, 0, 0.2);
    bottom: -5px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 92%;
}

.send {
    background: linear-gradient(to left, #4776e6, #8e54e9);
    padding: 12px 35px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 2rem;
}

.selectex6 {
    border-radius: 4px;
    padding: 6px 10px;
    outline:none;
}

  

